<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Algoryal Tester self-hosted unit-test dashboard">
  <meta name="author" content="Edvard Busck-Nielsen Algoryal 2019">

  <title>Algoryal Tester - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<body id="page-top">

  <div id="app">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Algoryal <sup>Tester</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggle (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Top-bar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <h2 class="text-primary">{{ project }}</h2>

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

          </nav>
          <!-- End of Top-bar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <h2 v-if="showOlderTest">Older Test</h2>
              <a :href="sheetLink" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" target="blank"><i class="fas fa-link fa-sm text-white-50"></i> Open Sheet</a>
            </div>

            <div class="row">
              <div class="col-xl-4 col-md-6 mb-4">
                <button v-if="showOlderTest" @click="backToCurrentTest()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-server fa-sm text-white-50"></i> Back to current test</button>
              </div>
            </div>
            <!-- Content Row -->
            <div class="row">
              <div class="col-xl-5 col-md-6 mb-4" v-if="current_test.status == 'Running'">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Running Tests</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-server fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-md-6 mb-4" v-if="current_test.status == 'Successful'">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">All Tests Passed Successfully!</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-smile fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-5 col-md-6 mb-4" v-if="current_test.status == 'Failed'">
                <div class="card border-left-danger shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">All Tests Failed!</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-5 col-md-6 mb-4" v-if="current_test.status == 'Warning'">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Some Tests Failed!</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-lightbulb fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
            <div class="row">

              <div class="col-lg-6 mb-4">
                <!-- Collapsable History -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#testOutput" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="testOutput">
                    <h6 class="m-0 font-weight-bold text-primary">Test Output</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="testOutput">
                    <div class="card-body">
                    <div v-for="test in current_test.output">
                      <div v-if="test != ''">
                        <div v-if="contains(test, 'Successful')">
                          <p style="color: #1cc88a">{{ test }}</p>
                        </div>
                        <div v-else-if="contains(test, 'Failed')">
                          <p style="color: #e74a3b">{{ test }}</p>
                        </div>
                        <div v-else-if="contains(test, 'SUCCESSFUL')">
                          <p style="color: #1cc88a">{{ test }}</p>
                        </div>
                        <div v-else-if="contains(test, 'FAILED')">
                          <p style="color: #e74a3b">{{ test }}</p>
                        </div>
                        <div v-else-if="contains(test, 'WARNING')">
                          <p style="color: #f6c23e">{{ test }}</p>
                        </div>
                        <div v-else>
                          <p>{{ test }}</p>
                        </div>
                      </div>
                      <div v-else>
                        <br>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card text-white shadow" :class="info_card_type">
                    <div class="card-body">
                      <h2>Test Information</h2>
                      <div class="text-white-10 medium"><b>Status:</b> {{ current_test.status }}</div>
                      <div class="text-white-10 medium"><b>Time:</b> {{ current_test.time }}</div>
                      <div class="text-white-10 medium"><b>Tests run:</b> {{ current_test.number_of_tests }}</div>
                      <div class="text-white-10 medium"><b>Date:</b> {{ current_test.date }}</div>
                    </div>
                  </div>
              </div>
            </div>
            <br>
            <h3 class="h3 mb-0 text-primary">Stats</h3>
            <br>

            <!-- Content Row -->
            <div class="row">

              <!-- Area Chart -->
              <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Test Time</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="testTimeHistoryAreaChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pie Chart -->
              <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Test Result</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                      <canvas id="testStatusHistoryPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                      <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Successful
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> Partly Successful
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> Failed
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <h3 class="h3 mb-0 text-primary">History</h3>
            <br>

            <div class="row">
              <div class="col-lg-6">
                <!-- Collapsable History -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#olderOutputs" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="olderOutputs">
                    <h6 class="m-0 font-weight-bold text-primary">Older Outputs</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse" id="olderOutputs">
                    <div class="card-body">
                      <div v-for="output in older_outputs">
                        <div v-for="text in output.reverse()">
                          <div v-if="text != 'next_test'">
                            <div v-if="contains(text, 'Successful')">
                              <p style="color: #1cc88a">{{ text }}</p>
                            </div>
                            <div v-else-if="contains(text, 'Failed')">
                              <p style="color: #e74a3b">{{ text }}</p>
                            </div>
                            <div v-else-if="contains(text, 'OK')">
                              <p style="color: #1cc88a">{{ text }}</p>
                            </div>
                            <div v-else-if="contains(text, 'FAILED')">
                              <p style="color: #e74a3b">{{ text }}</p>
                            </div>
                            <div v-else-if="contains(text, 'WARNING')">
                              <p style="color: #f6c23e">{{ text }}</p>
                            </div>
                            <div v-else>
                              <p>{{ text }}</p>
                            </div>
                          </div>
                          <div v-else>
                            <div class="card bg-secondary text-white shadow">
                              End Of Test
                            </div>
                          </div>
                        </div>
                        <br>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Test History</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-responsive-xl table-light" width="100%" cellspacing="0">
                  <thead>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Tests Run</th>
                  </thead>
                  <tr v-for="table_row in table_rows" @click="loadOlderTest">
                    <td><a href="#page-top" style="color: #858796; text-decoration: none;">{{ table_row[0] }}</a></td>
                    <td><a href="#page-top" style="color: #858796; text-decoration: none;">{{ table_row[1] }}</a></td>
                    <td><a href="#page-top" style="color: #858796; text-decoration: none;">{{ table_row[2] }}</a></td>
                    <td><a href="#page-top" style="color: #858796; text-decoration: none;">{{ table_row[3] }}</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Algoryal Copyright &copy; Edvard Busck-Nielsen 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  </div>
  <script src="js/main.js">
  </script>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
